<form (ngSubmit)="onSubmit()">
<h1 style="background-color: green">Rejestruj konto</h1>
<div class="form-group">
<label for="email">Podaj e-mail:</label>
<br>
<input type="email" class="form-control" [(ngModel)]="email" name="email"/>
</div>
<div class="form-group">
<label for="haslo">Podaj hasło:</label>
<br>
<input type="password" class="form-control" [(ngModel)]="password" name="password"/>
</div>
<div class="form-group">
<label for="haslo">Powtórz hasło:</label>
<br>
<input type="password" class="form-control" [(ngModel)]="repeated_password" name="repeated_password"/>
</div>
<input type="submit" value="ZATWIERDŹ" />
<br>
<label>{{ message }}</label>
</form>

